


@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Medium.eot');
    src: local('SF Pro Display Medium'), local('SFProDisplay-Medium'),
        url('../fonts/SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Medium.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Medium.woff') format('woff'),
        url('../fonts/SFProDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Heavy.eot');
    src: local('SF Pro Display Heavy'), local('SFProDisplay-Heavy'),
        url('../fonts/SFProDisplay-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Heavy.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Heavy.woff') format('woff'),
        url('../fonts/SFProDisplay-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-UltralightItalic.eot');
    src: local('SF Pro Display UltralightItalic'), local('SFProDisplay-UltralightItalic'),
        url('../fonts/SFProDisplay-UltralightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-UltralightItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay-UltralightItalic.woff') format('woff'),
        url('../fonts/SFProDisplay-UltralightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-RegularItalic.eot');
    src: local('SF Pro Display Regular Italic'), local('SFProDisplay-RegularItalic'),
        url('../fonts/SFProDisplay-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-RegularItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay-RegularItalic.woff') format('woff'),
        url('../fonts/SFProDisplay-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Thin.eot');
    src: local('SF Pro Display Thin'), local('SFProDisplay-Thin'),
        url('../fonts/SFProDisplay-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Thin.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Thin.woff') format('woff'),
        url('../fonts/SFProDisplay-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Light.eot');
    src: local('SF Pro Display Light'), local('SFProDisplay-Light'),
        url('../fonts/SFProDisplay-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Light.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Light.woff') format('woff'),
        url('../fonts/SFProDisplay-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-BlackItalic.eot');
    src: local('SF Pro Display Black Italic'), local('SFProDisplay-BlackItalic'),
        url('../fonts/SFProDisplay-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-BlackItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay-BlackItalic.woff') format('woff'),
        url('../fonts/SFProDisplay-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Bold.eot');
    src: local('SF Pro Display Bold'), local('SFProDisplay-Bold'),
        url('../fonts/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Bold.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Bold.woff') format('woff'),
        url('../fonts/SFProDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Black.eot');
    src: local('SF Pro Display Black'), local('SFProDisplay-Black'),
        url('../fonts/SFProDisplay-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Black.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Black.woff') format('woff'),
        url('../fonts/SFProDisplay-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-SemiboldItalic.eot');
    src: local('SF Pro Display SemiboldItalic'), local('SFProDisplay-SemiboldItalic'),
        url('../fonts/SFProDisplay-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-SemiboldItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay-SemiboldItalic.woff') format('woff'),
        url('../fonts/SFProDisplay-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Ultralight.eot');
    src: local('SF Pro Display Ultralight'), local('SFProDisplay-Ultralight'),
        url('../fonts/SFProDisplay-Ultralight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Ultralight.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Ultralight.woff') format('woff'),
        url('../fonts/SFProDisplay-Ultralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-LightItalic.eot');
    src: local('SF Pro Display LightItalic'), local('SFProDisplay-LightItalic'),
        url('../fonts/SFProDisplay-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-LightItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay-LightItalic.woff') format('woff'),
        url('../fonts/SFProDisplay-LightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-ThinItalic.eot');
    src: local('SF Pro Display ThinItalic'), local('SFProDisplay-ThinItalic'),
        url('../fonts/SFProDisplay-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-ThinItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay-ThinItalic.woff') format('woff'),
        url('../fonts/SFProDisplay-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-MediumItalic.eot');
    src: local('SF Pro Display MediumItalic'), local('SFProDisplay-MediumItalic'),
        url('../fonts/SFProDisplay-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-MediumItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay-MediumItalic.woff') format('woff'),
        url('../fonts/SFProDisplay-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Semibold.eot');
    src: local('SF Pro Display Semibold'), local('SFProDisplay-Semibold'),
        url('../fonts/SFProDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Semibold.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Semibold.woff') format('woff'),
        url('../fonts/SFProDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-HeavyItalic.eot');
    src: local('SF Pro Display HeavyItalic'), local('SFProDisplay-HeavyItalic'),
        url('../fonts/SFProDisplay-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-HeavyItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay-HeavyItalic.woff') format('woff'),
        url('../fonts/SFProDisplay-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Regular.eot');
    src: local('SF Pro Display Regular'), local('SFProDisplay-Regular'),
        url('../fonts/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Regular.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Regular.woff') format('woff'),
        url('../fonts/SFProDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-BoldItalic.eot');
    src: local('SF Pro Display BoldItalic'), local('SFProDisplay-BoldItalic'),
        url('../fonts/SFProDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-BoldItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay-BoldItalic.woff') format('woff'),
        url('../fonts/SFProDisplay-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}


.wrapper{
  
    margin: 0 auto;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    
}
body{
 font-family: 'SF Pro Display';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #000;
}

/*wtf man?
padding-left: 89px;
    padding-right: 89px;
    

 */
 .recommend__table{
    overflow-x: hidden;
 }
.header__list{
    display: flex;
    flex-wrap: wrap;
}
.header__item{
    margin-right: 25px;
     padding-top: 7vh;
}
.header__last_item{
    margin-right:75px;
    padding-top: 7vh;

}
.header__wrapper{
 padding-left: 20px;
    padding-right: 20px;
    height: 15vh;
   font-size: 25px;
  
    display: flex;
    flex-wrap: wrap;
   
   justify-content: space-between;
}

li {
  list-style-type: none;
  /* Убираем маркеры */
}
.credo{
    background: url(../img/png/young_boy.png) no-repeat center;
    background-size: cover;
    height: 85vh;
    width: 85vw;
  /*  margin-left: 7.5vw;
    margin-right: 7.5vw; */
}
/*.center{
    margin-left: 7.5vw;
    margin-right: 7.5vw;
}
*/

.credo_caption{

width: 70vw;


font-family: 'SF Pro Display';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 72px;

color: #FFFFFF;

padding-top: 60px;
margin-left: 40px;
}
.just_text{
width: 538px;
margin-top : 30px;


font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 38px;

margin-left: 40px;

color: #FFFFFF;
}
.first-button{
width: 400px;
height: 90px;
background: #FBF1F0;
border-radius: 20px;
margin-left: 40px;
margin-top: 40px;

}
.first-button:hover{
    background: #E9E9E9;
}
.first-button-text{
font-family: 'SF Pro Display';
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 48px;
/* identical to box height */
text-align: center;
padding-top: 20px;
color: #131235;
}
.headline{

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 700;
font-size: 60px;

color: #131235;

}

.alert{

   font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #131235;
    margin: 0 auto;
    width: 1200px;
    margin-top: 150px;
}
.dots{
    margin-top: 40px;
}
.strengths{
    margin-top:150px;
}
.why_better{
    text-align: center;
}
.add_align{
    width: 100%;
    text-align: center;
}
.in_row{
    display: flex;
    flex-wrap: wrap;
   
   justify-content: space-between;
      align-items: center;
}
.choice{
    width: 600px;
   
}
.choice_wrap{
    margin-top: 40px;
}





.headline_price{
    padding-left:0;
    text-align:left;
}
.cards{
    width: 600px;
}
.prices{

}
.price_text{
    width: 600px;

}
.regular{
    font-size: 30px;
}
.endl{
  margin-top: 40px;

}
.competence_text{
    width: 600px;
}
.highlight{
    color: #28257A;
    background-color: white;
    font-weight: 600;
}
.put_left{
    margin-left: 0;
}
.put_right{
   
    margin-right: 0;

}
.percent_pic{


}

@media only screen 
and (max-width : 1450px){
    .regular{
        font-size: 25px;
    }
    .price_text{
        width: 500px;
    }

    .competence_text{
        width: 500px;
    }
    .choice{
        width: 500px;
    }


}



@media only screen 
and (min-width : 1700px){
    .regular{
        font-size: 32px;
    }
    .price_text{
        width: 700px;
    }
    .percent_pic{
        margin-right: 120px;

    }
    .competence_text{
        width: 800px;
    }
    .choice{
        width: 800px;
    }
    .first-button{
        width: 600px;
        height: 135px;
        background: #FBF1F0;
        border-radius: 20px;

        margin-left: 40px;
        margin-top: 110px;
    }

    .just_text{
    width: 538px;
    margin-top : 80px;


    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 38px;

    margin-left: 40px;

    color: #FFFFFF;


    }

    .headline{

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;

    color: #131235;

    }
    .endl{
        margin-top: 100px;
    }
    .first-button-text{
        font-size: 50px;
        padding-top: 40px;
    }
    .credo_caption{
        font-size: 80px;
    }
}
.choose__buttons{
    background-color: #F2F2F2;
}

@media only screen 
and (max-width: 1000px){

    .first-button{
    width: 90vw;
    height: 90px;
    background-color: #28257A;

    border-radius: 20px;
    margin: 0 auto;
    margin-top: 100px;
    }
    .first-button:hover{
        background:#3F4B5B;
    }
    .first-button-text{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    color: white;
    /* identical to box height */
    text-align: center;
    padding-top: 20px;
    }
    .credo{

         height: 85vh;
       width: 95vw;
    }
    .regular{
        font-size: 40px;
    }
    .wrapper{
        margin-left: 2.5vw;
        margin-right: 2.5vw;
    }
    .endl{
        margin-top: 50px;

    }
}
