
*,
*:before,
*:after {
  box-sizing: border-box;
}
.div-thing{
    width: 50px;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid #000;
    overflow: hidden;    
}

ol{
	list-style= none;

	text-align: center;
  margin-left: auto; 
  margin-right: 0;

	
	
}
.choose__grade{
    margin-top: 190px;
}
.special_li{
	background: #888;
	border-radius: 50%;
	display: inline-block;
	width:20px;
	height:20px;
	margin-left: 10px;
	
}


.cent{
  height: 100vh;
  width: 100vw;
}
.Lslide{
  display:inline-block;
  width:50vw;
  opacity: 0.4;
  height: 100%;
  padding-left:0;
  /*overflow-x: hidden;*/
  position: fixed;

}
.instruction{
  opacity: 0.4;
  width:300vw;
  height:300vh;
  position:absolute;
  background-color:   #000000;
  z-index: 300;
  transform: translate(0,0);
}
.isnttext{
  opacity: 1;
  position:absolute;
  transform: translate(50, 50);
  text-align: center;
   font: 400 17px/2em 'Source Sans Pro', sans-serif;
}

.Rslide{
  display:inline-block;
  width:50vw;
  height: 100%;
  opacity: 0.4;
  transform: translate(15vw, 0);
  position:fixed;
}
.Cslide{
  display:inline-block;
  width:70vw;
  height:100%;
  
  transform: translate(15vw, 0);
}





.Lpic{

  object-fit: none;
  /*transform: translate(-20%, 60%);*/
}
.Rpic{
  object-fit:none;

   /*transform: translate(0%, 60%);*/
}
.fadeout{
	animation-name: fadeout;
	animation-duration: 0.3s;
	animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fadein{
	animation-name: fadein;
	animation-duration: 0.3s;
	animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.moveright {
  animation-name: moveright;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.moverightU {
  animation-name: moverightU;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.moveleftU {
  animation-name: moveleftU;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.moveleft {
  animation-name: moveleft;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}


.form1{
	margin-top: 20vh;
}
.form2{
	margin-top: 15vh;
}
@keyframes fadeout {
  0% {
    /*transform: translateX(0);*/
	opacity: 1;
	
  }
  100% {
    opacity: 0.3;
  }
  /*
  50.002% {
    opacity: 0;
    /*transform: translateX(100vw);
  }
  */
}
@keyframes fadein {
  0% {
    /*transform: translateX(0);*/
	opacity: 0.3;
	
  }
  100% {
    opacity: 1;
  }
  /*
  50.002% {
    opacity: 0;
    /*transform: translateX(100vw);
  }
  */
}
@keyframes moveright {
  0% {
    /*transform: translateX(0);*/
	opacity: 1;
	transform: translateX(0);
  }
  100% {
    opacity: 0.4;
    transform: translateX(20vw);
  }
  /*
  50.002% {
    opacity: 0;
    /*transform: translateX(100vw);
  }
  */
}
@keyframes moverightU {
  0% {
	opacity 0;
    transform: translateX(-100vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
  /*
  50.002% {
    opacity: 0;
    /*transform: translateX(100vw);
  }
  */
}
@keyframes moveleftU {
  0% {
	opacity 0;
    transform: translateX(100vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
  /*
  50.002% {
    opacity: 0;
    /*transform: translateX(100vw);
  }
  */
}
@keyframes moveleft {
  0% {
    transform: translateX(0);
	
  }
  
  100% {
    opacity: 0.4;
    transform: translateX(-20vw);
  }
  
}

@keyframes right_to_left {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0;
  }
}
form{
	margin-top: 20vh;
}
@keyframes left_to_right {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0;
  }
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
	display: block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}

.select_box{
    margin-top: 190px;
}
.custom-dropdown select {
  cursor:pointer;
  background-color: #2980b9;
  color: #fff;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em; 
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}


@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
  background: #ffffff; 
  color: #414141;
  font: 400 17px/2em 'Source Sans Pro', sans-serif;
}

.select-box {
  cursor: pointer;
  position : relative;
  max-width:  20em;
    
  width: 100%;
}


.select {
 
  
  top: 0;
  padding: 5px 0;
  height: 40px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  background: none transparent;
  border: 0 none;
}
.select-box1 {
  background: #ececec;
  
    margin-left: 50%;  

  width: 537px;
  height: 113px;


  background: #131235;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;


}
.label {
  position: relative;
  
  cursor: pointer;
}
.open .label::after {
   content: "▲";
}
.label::after {
 content: "▼";
  font-size: 30px;
  /* cursor: pointer; */
  right:0;
  top:0;
  padding: 25px 15px;
   border-left: 50px solid #fff;

}

.button {

  width: 600px;
  height: 111px;
  margin: 0 auto;
  margin-top: 8%;
  
  background: #92B6D8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border-radius: 20px;
  text-align: center;

  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;



}

.button:hover {
    background: rgb(53, 167, 110); 
}
.button active{
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
}




.leftimg {
    float:left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
   }


.repbutton {
  margin-top: 4%;
  border-color: #36b320;
  color: #ADFF2F;
  background-image: -webkit-linear-gradient(45deg, #36b320 50%, transparent 50%);
  background-image: linear-gradient(45deg, #36b320 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
.repbutton:hover {
  background-position: 0;
}


img{
    /*  background-size: cover;
    background-position: center;
    padding-bottom: 62.5%;
overflow: hidden;

    */

}


.button_next
{ 
    height: 70px;
    margin-top:70vh;
    border-radius: 35px;
}

.button_next:hover {
    background: gray; 
}


.button_back
{ 
    height: 70px;
    margin-top: 70vh;
    border-radius: 35px;
}





.button_back:hover {
    background: gray; 
}

@media only screen 
and (min-width : 900px) {
.nxt{

  margin-left: 10px;
  display: inline-block;
  opacity: 0.15;
  width: 100vw;
 transform: translateX(70vw);
 /*transform: translateY(0vh);*/
  z-index:0;
}
.prv{
  display: inline-block;
  width: 100vw;
  opacity: 0.15;
  /*transform: translate(-90vw, 0);*/
  z-index:0;

}
.activ{
  display: inline-block;
  opacity: 1;
  width: 80vw;
  transform: translate(10vw, 0);
  
  z-index:1;
}

}


/*
.button_back active{
    background: rgb(117, 181, 230);
    box-shadow: 0 3px rgb(117, 181, 230) inset;
}
*/
}
@media only screen 
and (max-width : 540px) {


.nxt{
  opacity: 0.2;
  transform: translateX(90vw);
}
.prv{
  opacity: 0.2;
  transform: translateX(-90vw);
}
.lesha_div{
  width:100%;
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;

  color: #FFFFFF;
}
.outline {
    text-align: center;
    font-size: 50%;
    font-family: "Helvetica";
    padding-top: 1.5%;
    width: 100%;  
    height: 100%;
    background: #fc0;
    outline: 2px solid #000;
    border: 3px solid #fff;
    border-radius: 20px;
   }



.fixed
{
    position:fixed;
    top: 100px;
    left:100px;
}
}
