/*body{
	margin: 0;
}
h1,
h2 {
  width: 100%;
  font-size: 100%;
}

h1 {
  animation: right_to_left 3s ease;
}

h2 {
  text-align: right;
  animation: left_to_right 3s ease;
}
*/
/*
*{
	overflow: hidden;
}
*/
/*
* {
  margin: 0;
}
*/

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Medium.eot');
    src: local('SF Pro Display Medium'), local('SFProDisplay-Medium'),
        url('../fonts/SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Medium.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Medium.woff') format('woff'),
        url('../fonts/SFProDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Heavy.eot');
    src: local('SF Pro Display Heavy'), local('SFProDisplay-Heavy'),
        url('../fonts/SFProDisplay-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Heavy.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Heavy.woff') format('woff'),
        url('../fonts/SFProDisplay-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-UltralightItalic.eot');
    src: local('SF Pro Display UltralightItalic'), local('SFProDisplay-UltralightItalic'),
        url('../fonts/SFProDisplay-UltralightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-UltralightItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay-UltralightItalic.woff') format('woff'),
        url('../fonts/SFProDisplay-UltralightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-RegularItalic.eot');
    src: local('SF Pro Display Regular Italic'), local('SFProDisplay-RegularItalic'),
        url('../fonts/SFProDisplay-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-RegularItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay-RegularItalic.woff') format('woff'),
        url('../fonts/SFProDisplay-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Thin.eot');
    src: local('SF Pro Display Thin'), local('SFProDisplay-Thin'),
        url('../fonts/SFProDisplay-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Thin.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Thin.woff') format('woff'),
        url('../fonts/SFProDisplay-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Light.eot');
    src: local('SF Pro Display Light'), local('SFProDisplay-Light'),
        url('../fonts/SFProDisplay-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Light.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Light.woff') format('woff'),
        url('../fonts/SFProDisplay-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-BlackItalic.eot');
    src: local('SF Pro Display Black Italic'), local('SFProDisplay-BlackItalic'),
        url('../fonts/SFProDisplay-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-BlackItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay-BlackItalic.woff') format('woff'),
        url('../fonts/SFProDisplay-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Bold.eot');
    src: local('SF Pro Display Bold'), local('SFProDisplay-Bold'),
        url('../fonts/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Bold.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Bold.woff') format('woff'),
        url('../fonts/SFProDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Black.eot');
    src: local('SF Pro Display Black'), local('SFProDisplay-Black'),
        url('../fonts/SFProDisplay-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Black.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Black.woff') format('woff'),
        url('../fonts/SFProDisplay-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-SemiboldItalic.eot');
    src: local('SF Pro Display SemiboldItalic'), local('SFProDisplay-SemiboldItalic'),
        url('../fonts/SFProDisplay-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-SemiboldItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay-SemiboldItalic.woff') format('woff'),
        url('../fonts/SFProDisplay-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Ultralight.eot');
    src: local('SF Pro Display Ultralight'), local('SFProDisplay-Ultralight'),
        url('../fonts/SFProDisplay-Ultralight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Ultralight.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Ultralight.woff') format('woff'),
        url('../fonts/SFProDisplay-Ultralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-LightItalic.eot');
    src: local('SF Pro Display LightItalic'), local('SFProDisplay-LightItalic'),
        url('../fonts/SFProDisplay-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-LightItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay-LightItalic.woff') format('woff'),
        url('../fonts/SFProDisplay-LightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-ThinItalic.eot');
    src: local('SF Pro Display ThinItalic'), local('SFProDisplay-ThinItalic'),
        url('../fonts/SFProDisplay-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-ThinItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay-ThinItalic.woff') format('woff'),
        url('../fonts/SFProDisplay-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-MediumItalic.eot');
    src: local('SF Pro Display MediumItalic'), local('SFProDisplay-MediumItalic'),
        url('../fonts/SFProDisplay-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-MediumItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay-MediumItalic.woff') format('woff'),
        url('../fonts/SFProDisplay-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Semibold.eot');
    src: local('SF Pro Display Semibold'), local('SFProDisplay-Semibold'),
        url('../fonts/SFProDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Semibold.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Semibold.woff') format('woff'),
        url('../fonts/SFProDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-HeavyItalic.eot');
    src: local('SF Pro Display HeavyItalic'), local('SFProDisplay-HeavyItalic'),
        url('../fonts/SFProDisplay-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-HeavyItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay-HeavyItalic.woff') format('woff'),
        url('../fonts/SFProDisplay-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Regular.eot');
    src: local('SF Pro Display Regular'), local('SFProDisplay-Regular'),
        url('../fonts/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Regular.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Regular.woff') format('woff'),
        url('../fonts/SFProDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-BoldItalic.eot');
    src: local('SF Pro Display BoldItalic'), local('SFProDisplay-BoldItalic'),
        url('../fonts/SFProDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-BoldItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay-BoldItalic.woff') format('woff'),
        url('../fonts/SFProDisplay-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}


*,
*:before,
*:after {
  box-sizing: border-box;
}
.div-thing{
    width: 50px;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid #000;
    overflow: hidden;
}

ol{
	list-style= none;

	text-align: center;
  margin-left: auto;
  margin-right: 0;



}
li{
	background: #888;
	border-radius: 50%;
	display: inline-block;
	width:20px;
	height:20px;
	margin-left: 10px;

}


.cent{
  height: 100vh;
  width: 100vw;
}
.Lslide{
  display:inline-block;
  width:50vw;
  opacity: 0.4;
  height: 100%;
  padding-left:0;
  /*overflow-x: hidden;*/
  position: fixed;

}

img{
  width:300px;
  height:300px;
}
.Rslide{
  display:inline-block;
  width:50vw;
  height: 100%;
  opacity: 0.4;
  transform: translate(15vw, 0);
  position:fixed;
}
.Cslide{
  display:inline-block;
  width:70vw;
  height:100%;

  transform: translate(15vw, 0);
}



button {
  position: fixed;
  z-index: 1;
}

img{
	border-radius: 50%;
}

.Lpic{

  object-fit: none;
  /*transform: translate(-20%, 60%);*/
}
.Rpic{
  object-fit:none;

   /*transform: translate(0%, 60%);*/
}
.fadeout{
	animation-name: fadeout;
	animation-duration: 0.3s;
	animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fadein{
	animation-name: fadein;
	animation-duration: 0.3s;
	animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.moveright {
  animation-name: moveright;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.moverightU {
  animation-name: moverightU;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.moveleftU {
  animation-name: moveleftU;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.moveleft {
  animation-name: moveleft;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}


.form1{
	margin-top: 20vh;
}
.form2{
	margin-top: 15vh;
}
@keyframes fadeout {
  0% {
    /*transform: translateX(0);*/
	opacity: 1;

  }
  100% {
    opacity: 0.3;
  }
  /*
  50.002% {
    opacity: 0;
    /*transform: translateX(100vw);
  }
  */
}
@keyframes fadein {
  0% {
    /*transform: translateX(0);*/
	opacity: 0.3;

  }
  100% {
    opacity: 1;
  }
  /*
  50.002% {
    opacity: 0;
    /*transform: translateX(100vw);
  }
  */
}
@keyframes moveright {
  0% {
    /*transform: translateX(0);*/
	opacity: 1;
	transform: translateX(0);
  }
  100% {
    opacity: 0.4;
    transform: translateX(20vw);
  }
  /*
  50.002% {
    opacity: 0;
    /*transform: translateX(100vw);
  }
  */
}
@keyframes moverightU {
  0% {
	opacity 0;
    transform: translateX(-100vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
  /*
  50.002% {
    opacity: 0;
    /*transform: translateX(100vw);
  }
  */
}
@keyframes moveleftU {
  0% {
	opacity 0;
    transform: translateX(100vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
  /*
  50.002% {
    opacity: 0;
    /*transform: translateX(100vw);
  }
  */
}
@keyframes moveleft {
  0% {
    transform: translateX(0);

  }

  100% {
    opacity: 0.4;
    transform: translateX(-20vw);
  }

}

@keyframes right_to_left {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0;
  }
}
form{
	margin-top: 20vh;
}
@keyframes left_to_right {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0;
  }
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
}


/* Add padding to containers */

div{

  width:100%;
  font-family: 'SF Pro Display';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
text-align: center;

color: #FFFFFF;

}
.alltutors, .mytutors{
position:absolute;
display: inline-block;
width:100%;
    max-width:100%;

  }
.container{

}
/*
*{
  overflow-x:hidden;
}
*/
/* Full-width input fields
 overflow-x: hidden;
 overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;

 overflow-x: hidden;


.mytutors{
	transition: transform 1s;
}

.mytutors:hover{
	transform: translateX(100%);
	display: none;
}
*/
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
	display: block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}

/* Custom dropdown */
.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 10px; /* demo only */
}

.custom-dropdown select {
  cursor:pointer;
  background-color: #2980b9;
  color: #fff;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em;
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

.custom-dropdown::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
  color: rgba(0,0,0,.3);
}

.custom-dropdown select[disabled]::after {
  color: rgba(0,0,0,.1);
}

.custom-dropdown::before {
  background-color: rgba(0,0,0,.15);
}

.custom-dropdown::after {
  color: rgba(0,0,0,.4);
}



/*########################################################*/


@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
  background: #ffffff;
  color: #414141;
  font: 400 17px/2em 'Source Sans Pro', sans-serif;
}

.select-box {
  cursor: pointer;
  position : relative;
  max-width:  20em;
  margin: 0.7em auto;
  width: 100%;
}

.select,
.label {
  color: #414141;
  display: block;
  font: 400 17px/2em 'Source Sans Pro', sans-serif;
}

.select {
  width: 100%;
  position: absolute;
  top: 0;
  padding: 5px 0;
  height: 40px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  background: none transparent;
  border: 0 none;
}
.select-box1 {
  box-sizing: border-box;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  width: 537px;
  height: 113px;


  background: #131235;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;

  color: #FFFFFF;


}

.label {
  position: relative;
  padding: 25px 15px;
  /* cursor: pointer; */
  border-radius: 20px;
  background: #131235;
  width:537px;
  height: 110px;
  display: block;

}
.open .label::after {
   content: "▲";
}
.label::after {
  content: "▼";
  font-size: 30px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 25px 15px;
   border-left: 50px solid #fff;
}

.button {
  position: absolute;
  box-sizing: border-box;
  position: absolute;
  width: 537px;
  height: 111px;
  margin-top: 8%;
  margin-left: 34.5%;

  background: #92B6D8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border-radius: 20px;
  text-align: center;

  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;

}





.leftimg {
    float:left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
   }


.repbutton {
  margin-top: 4%;
  border-color: #36b320;
  color: #ADFF2F;
  background-image: -webkit-linear-gradient(45deg, #36b320 50%, transparent 50%);
  background-image: linear-gradient(45deg, #36b320 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
.repbutton:hover {
  background-position: 0;
}

p{
    padding-left: 4%;
    padding-right: 4%;
    background-color: #ffffff; /* Фоновый цвет*/
    border: 2px solid #D4D4D4; /* Ширина и цвет границ*/
    border-radius: 10px; /* Радиус границ*/
    box-shadow: 0 0 15px #A9A9A9; /* Размер и цвет тени блока*/
}

img{
    /*  background-size: cover;
    background-position: center;
    padding-bottom: 62.5%;
overflow: hidden;

    */

}

 .mytutors{

}


@media only screen
and (min-width : 900px) {
.nxt{

  margin-left: 10px;
  display: inline-block;
  opacity: 0.15;
  width: 100vw;
 transform: translateX(70vw);
 /*transform: translateY(0vh);*/
  z-index:0;
}
.prv{
  display: inline-block;
  width: 100vw;
  opacity: 0.15;
  /*transform: translate(-90vw, 0);*/
  z-index:0;

}
.activ{
  display: inline-block;
  opacity: 1;
  width: 80vw;
  transform: translate(10vw, 0);

  z-index:1;
}
.outline {
    font-size: 50%;
    font-family: "Helvetica";
    margin-top: 4%;
    width: 40%;   height: 10%; /* Размеры */
    background: #fc0; /* Цвет фона */
    outline: 2px solid #000; /* Чёрная рамка */
    border: 3px solid #fff; /* Белая рамка */
    border-radius: 10px; /* Радиус скругления */
   }

.button_next
{
    margin: 0 auto;
    display: block;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(117, 181, 230);
    box-shadow: 0 -3px rgb(71, 133, 181); inset;
    transition: 0.2s;
    top:90%;
    left:50%;
    z-index:99999999;
    border-radius: 50px;
    position: fixed;
}

.button_next:hover {
    background: rgb(71, 133, 181);
}
.button_next active{
    background: rgb(117, 181, 230);
    box-shadow: 0 3px rgb(117, 181, 230) inset;
}


.button_back
{
    margin: 0 auto;
    display: block;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(117, 181, 230);
    box-shadow: 0 -3px rgb(71, 133, 181); inset;
    transition: 0.2s;
    top:90%;
    left:38%;
    z-index:99999999;
    border-radius: 50px;
    position: fixed;
}

.button_back:hover {
    background: rgb(71, 133, 181);
}
.button_back active{
    background: rgb(117, 181, 230);
    box-shadow: 0 3px rgb(117, 181, 230) inset;
}

}
@media only screen
and (max-width : 540px) {


.nxt{
  opacity: 0.2;
  transform: translateX(90vw);
}
.prv{
  opacity: 0.2;
  transform: translateX(-90vw);
}

.outline {
    text-align: center;
    font-size: 50%;
    font-family: "Helvetica";
    padding-top: 1.5%;
    width: 100%;
    height: 100%;
    background: #fc0;
    outline: 2px solid #000;
    border: 3px solid #fff;
    border-radius: 20px;
   }
.button_next
{
    margin: 0 auto;
    display: none;
    font-weight:700 ;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(117, 181, 230);
    box-shadow: 0 -3px rgb(71, 133, 181); inset;
    transition: 0.2s;
    top:80vh;
    left:57vw;
     z-index:99999999;
    border-radius: 50px;
    position: fixed;



}

.button_next:hover {
    background: rgb(71, 133, 181);
}
.button_next active{
    background: rgb(117, 181, 230);
    box-shadow: 0 3px rgb(117, 181, 230) inset;
}

.button_back
{
    margin: 0 auto;
    display: none;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(117, 181, 230);
    box-shadow: 0 -3px rgb(71, 133, 181); inset;
    transition: 0.2s;
    top:80vh;
    left:10vw;
    z-index:99999999;
    border-radius: 50px;
    position: fixed;
}

.button_back:hover {
    background: rgb(71, 133, 181);
}
.button_back active{
    background: rgb(117, 181, 230);
    box-shadow: 0 3px rgb(117, 181, 230) inset;
}
}

.fixed
{
    position:fixed;
    top: 100px;
    left:100px;
}
