
@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Medium.eot');
    src: local('SF Pro Display Medium'), local('SFProDisplay-Medium'),
        url('../fonts/SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Medium.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Medium.woff') format('woff'),
        url('../fonts/SFProDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Heavy.eot');
    src: local('SF Pro Display Heavy'), local('SFProDisplay-Heavy'),
        url('../fonts/SFProDisplay-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Heavy.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Heavy.woff') format('woff'),
        url('../fonts/SFProDisplay-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-UltralightItalic.eot');
    src: local('SF Pro Display UltralightItalic'), local('SFProDisplay-UltralightItalic'),
        url('../fonts/SFProDisplay-UltralightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-UltralightItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay-UltralightItalic.woff') format('woff'),
        url('../fonts/SFProDisplay-UltralightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-RegularItalic.eot');
    src: local('SF Pro Display Regular Italic'), local('SFProDisplay-RegularItalic'),
        url('../fonts/SFProDisplay-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-RegularItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay-RegularItalic.woff') format('woff'),
        url('../fonts/SFProDisplay-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Thin.eot');
    src: local('SF Pro Display Thin'), local('SFProDisplay-Thin'),
        url('../fonts/SFProDisplay-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Thin.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Thin.woff') format('woff'),
        url('../fonts/SFProDisplay-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Light.eot');
    src: local('SF Pro Display Light'), local('SFProDisplay-Light'),
        url('../fonts/SFProDisplay-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Light.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Light.woff') format('woff'),
        url('../fonts/SFProDisplay-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-BlackItalic.eot');
    src: local('SF Pro Display Black Italic'), local('SFProDisplay-BlackItalic'),
        url('../fonts/SFProDisplay-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-BlackItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay-BlackItalic.woff') format('woff'),
        url('../fonts/SFProDisplay-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Bold.eot');
    src: local('SF Pro Display Bold'), local('SFProDisplay-Bold'),
        url('../fonts/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Bold.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Bold.woff') format('woff'),
        url('../fonts/SFProDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Black.eot');
    src: local('SF Pro Display Black'), local('SFProDisplay-Black'),
        url('../fonts/SFProDisplay-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Black.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Black.woff') format('woff'),
        url('../fonts/SFProDisplay-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-SemiboldItalic.eot');
    src: local('SF Pro Display SemiboldItalic'), local('SFProDisplay-SemiboldItalic'),
        url('../fonts/SFProDisplay-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-SemiboldItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay-SemiboldItalic.woff') format('woff'),
        url('../fonts/SFProDisplay-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Ultralight.eot');
    src: local('SF Pro Display Ultralight'), local('SFProDisplay-Ultralight'),
        url('../fonts/SFProDisplay-Ultralight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Ultralight.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Ultralight.woff') format('woff'),
        url('../fonts/SFProDisplay-Ultralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-LightItalic.eot');
    src: local('SF Pro Display LightItalic'), local('SFProDisplay-LightItalic'),
        url('../fonts/SFProDisplay-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-LightItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay-LightItalic.woff') format('woff'),
        url('../fonts/SFProDisplay-LightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-ThinItalic.eot');
    src: local('SF Pro Display ThinItalic'), local('SFProDisplay-ThinItalic'),
        url('../fonts/SFProDisplay-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-ThinItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay-ThinItalic.woff') format('woff'),
        url('../fonts/SFProDisplay-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-MediumItalic.eot');
    src: local('SF Pro Display MediumItalic'), local('SFProDisplay-MediumItalic'),
        url('../fonts/SFProDisplay-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-MediumItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay-MediumItalic.woff') format('woff'),
        url('../fonts/SFProDisplay-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Semibold.eot');
    src: local('SF Pro Display Semibold'), local('SFProDisplay-Semibold'),
        url('../fonts/SFProDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Semibold.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Semibold.woff') format('woff'),
        url('../fonts/SFProDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-HeavyItalic.eot');
    src: local('SF Pro Display HeavyItalic'), local('SFProDisplay-HeavyItalic'),
        url('../fonts/SFProDisplay-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-HeavyItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay-HeavyItalic.woff') format('woff'),
        url('../fonts/SFProDisplay-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Regular.eot');
    src: local('SF Pro Display Regular'), local('SFProDisplay-Regular'),
        url('../fonts/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Regular.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Regular.woff') format('woff'),
        url('../fonts/SFProDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-BoldItalic.eot');
    src: local('SF Pro Display BoldItalic'), local('SFProDisplay-BoldItalic'),
        url('../fonts/SFProDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-BoldItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay-BoldItalic.woff') format('woff'),
        url('../fonts/SFProDisplay-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
html{
  box-sizing: border-box;
}
*,*::before, *::after{
  box-sizing: inherit;
}
li {
  list-style-type: none;
  /* Убираем маркеры */
}
body{
    margin-left: 7.5vw;
    margin-right: 7.5vw;
}
.form{
     margin-top: 30px;
     margin-bottom: 45px;
    color: #000000;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
}

.info__nickname{
  font-size: 60px;
  line-height: 71.6px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 2px;
}
.info__profession{

  font-weight: 700;
  font-size: 32px;
  line-height: 38px;

}
.info__photo-pic{
  border-radius: 50%;
}
.statistic__name{
  font-weight: 600;
  font-size: 40px;
  line-height: 47.73px;
}

.info__merged_statistics{
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.form__name_value{
    display: flex;
    flex-wrap: wrap;
}
.statistic__value{
    font-weight: 700;
    font-size: 40px;
    line-height: 47.73px;
}
.form__value{
    margin-left: 10px;
}
.info__progress-bar{
    background-color:  #DDDDDD;
    width: 500px;
    height: 29px;
    border-radius: 100px;
    margin-top: 10px;
}
.info__progress-value{
    background-color:  #000000;
    width: 0px;
    height: 29px;
    border-radius: 100px;
}
.info__table{
    margin-top: 81px;
}
.info__item-name{
    font-weight: 700;
    font-size: 60px;
    line-height: 71.6px;
}
.info__item-value{
    font-weight: 400;
    font-size: 32px;
    line-height: 38.19px;
    margin-top : 15px;
}
.info__item{
    margin-top: 70px;
}
.info__price_item{
    display: flex;
    flex-wrap: nowrap;
}
.info__price_item-name{
  font-size: 32px;
  line-height: 38.19px;
  font-weight: 400;  
}
.info__price_item-value{
  font-size: 32px;
  line-height: 38.19px;
  font-weight: 700;  
  color: #28257A;
  margin-left: 10px;
  background-color: white;
}
.info__price_list{
    margin-top: 15px;
}
.info__button-div{
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 537px;
    height: 113px;
    background-color: #28257A;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);

}

.info__button-text{
    text-align: center;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}
.info__button-div:hover,.info__button-div:focus,.info__button-div:active{
    background-color: #AFADDD;
}
.recommend{
    margin-top: 104px;
    color: #000000;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    background-color: #F2F2F2;
    padding-bottom: 164px;

}
.recommend__name{
    font-weight: 700;
    font-size: 60px;
    line-height: 71.6px;
    max-width: 1402px;
    padding-top: 104px;
    text-align: center;
    display: block;
    margin: 0 auto;

}
.recommend__table{
 margin-top: 186px;
display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 100px;
  justify-content: space-between;
   width: 100%;
}
.recommend__table-ul{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}
.recommend__recommendation-li{
    margin-right: 2.5vw;
    max-width: 20.3vw;
    border-radius: 20px;
  border: solid;
  border-color: #FFFFFF;
  border-width: 2px;
  background-color: #FFFFFF;
}
.recommend__recommendation-li:last-child{
    margin-right: 0px;
}
.recommendation__rating-date{
    display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
   padding-top: 18.57px;

}
.recommend__recommendation{
      padding-left: 1.78vw;
    padding-right:  3vw;
}
.recommendation__date{
    font-size: 20px;
    line-height: 23.87px;
    font-weight: 400;
    margin-right: 19px;
    color: #909090;
}
.recommendation__rating{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.recommendation__name{
    margin-top: 20.28px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.64px;
    padding-top: 1.2vw;
}
.recommendation__value{
    font-weight: 400;
    font-size: 24px;
    line-height: 28.64px;   
    padding-top: 10px;
    padding-right: 1.2vw;
}
.recommendation__nickname{
    line-height: 23.87px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
    color: #9C9C9C;
    padding-bottom: 15px;
}
.recommend__left-button{
    margin-left: 20px;
    width: 66px;
    border-radius: 33px;
}
.recommend__left-button:hover,.recommend__left-button:focus,.recommend__left-button:active{
    background-color: gray;
}
.recommend__right-button{
    margin-right: 20px;
    width: 66px;
    border-radius: 33px;
}
.recommend__right-button:hover,.recommend__right-button:focus,.recommend__right-button:active{
    background-color: gray;
}

.team{
    margin-top: 120px;
    color: #000000;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 100px;
}
.team__title{
    text-align: center;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
}
.team__stuff{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
     margin-top: 147px;
     justify-content: center;
}
.stuff__photo{
    border-radius: 40px;
}
.stuff__person-pic{
    border-radius: 40px;
}
.stuff__person{
    margin-right: 10vw;
    width: 377px;
    margin-top: 30px;
}
.stuff__name{
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    margin-top: 45px;
}
.stuff__value{
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #7A7A7A;
    margin-top: 10px;
}

.socials{
    background-color: #F2F2F2;
    color: #000000;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
}
.socials__icons{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding-top: 43px;
}
.socials__icon{
    margin-right: 34px;
}
.socials__icon : last-child{
    margin-right: 0px;
}
.socials__copyright{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    height: 87px;
    margin-top: 16px;
    text-align: center;
}
.socials__copyright-value{
    padding-top: 20px;
}
.socials__inside{
    padding-left: 3vw;
}
.form__statistic-li{
    margin-bottom: 15px;
}
.form__statistic-li:last-child{
    margin-bottom: 0px;
}
.info__rating{
    margin-right: 2vw;
}
@media only screen
and (max-width: 1550px){
    .info__progress-bar{
        width: 420px;
        margin-top: 5px;
    }
    .form__statistic-li{
        margin-bottom: 14px;
    }
    .form__statistic-li:last-child{
        margin-bottom: 0px;
    }
    .statistic__name{
        font-size: 34px;
    }
    .statistic__value{
        font-size: 34px;
    }

    .info__nickname{
        font-size: 50px;
    }
    .info__profession{
        font-size: 28px;
    }
    .info__item-name{
        font-size: 50px;
    }
    .info__item-value{
        font-size: 28px;
    }
    .recommendation__star-pic{
        width: 25px;
    }
    .recommendation__star{
        width: 25px
    }
    .recommend__name{
        font-size: 50px;
    }
    .recommendation__date{
        font-size: 16px;
    }
    .recommend__recommendation-li{
        width: 430px;
    }
    .recommend__left-button{
        width: 50px;
        border-radius: 25px;
    }
    .recommend-left-pic{
        width: 50px;
    }
     .recommend__right-button{
        width: 50px;
        border-radius: 25px;
    }
    .recommend-right-pic{
        width: 50px;
    }
    .stuff__person-pic{
        width: 250px;
    }
    .stuff__person{
        width: 250px;
    }
}

/*
    let's add css mobile
*/

@media only screen
and (max-width: 1000px){
    
    body{
        margin-left: 2.5vw;
        margin-right: 2.5vw;
    }
    .info__nickname{
        font-size: 40px;
        line-height: 47.96px;
    }
    .info__profession{
        font-size: 26px;
        line-height: 32.64px;
    }
    .statistic__name{
        font-size: 24px;
        line-height: 28.48px;
    }
    .statistic__value{
        font-size: 24px;
        line-height: 28.48px;
    }
    .info__progress-bar{
        width: 45vw;
        height: 16px;
    }
    .info__progress-value{
        height: 16px;
    }
    .info__photo{
        width: 35vw;
    }
    .info__photo-pic{
        width: 35vw;
    }
    .info__progress-bar{
        margin-top: 5px;
    }
    .info__item-name{
        font-size: 32px;
        line-height: 38.96px;
    }
    .info__table{
        margin-top: 40px;
    }
    .info__item-value{
        font-size: 24px;
        line-height: 30px;
        margin-top: 5px;
    }
    .info__item{
        margin-top: 20px;
    }
    .info__price_list{
        margin-top: 5px;
    }
    .info__price_item-name{
        font-size: 24px;
        line-height: 30px;
    }
    .info__price_item-value{
        font-size: 24px;
        line-height: 30px;
    }
    /* bug with 1 akademic hour*/
    .info__button-div{
        width: 420px;
        height: 80px;
        background-color: #28257A;
        filter:  drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
       
    }
    .info__button-div:hover,.info__button-div:focus,.info__button-div:active{
        background-color: #AFADDD;
    }
    .info__button-text{
        font-size: 24px;
        line-height: 29px;
    }
    .form{
        margin-bottom: 79px;
    }
    .recommend{
        margin-top: 0px;
    }
    .recommend__name{
        font-size: 34px;
        line-height: 44.96px;
    }
    .rec1{
        margin-right: 0px;
    }
    .rec2{
        display: none;
    }
    .rec3{
        display: none;
    }
    .recommend__left-button{
        width: 32px;
        margin-left: 5px;
    }
    .recommend-left-pic{
        width: 32px;
    }
    .recommend__right-button{
        width: 32px;
        margin-right: 5px;
    }
    .recommend-right-pic{
        width: 32px;
    }
    .recommend__recommendation-li{
        max-width: 60vw;
    }
    .recommend__value{
        font-size: 20px;
        line-height: 23.87px;
    }
    .recommendation__star{
        width: 30px;
    }
    .recommendation__star-pic{
        width: 30px;
    }
    /*dont forget to add it in normal // did it*/
    .recommendation__name{
        padding-right: 5px;
    }
    .recommendation__value{
        padding-right: 5px;
    }
    .recommendation__date{
        font-size: 20px;
        line-height: 26.09px;
        margin-right: 5px;
    }
    .recommendation__nickname{
        /*display none?*/
        font-size: 20px;
        margin-top: 5px;
    }
    .recommend__table{
        margin-top: 50px;
    }
    .recommend{
        padding-bottom: 40px;
    }
    .team__title{
        font-size: 32px;
        line-height: 40.96px;
    }
    .stuff__photo{
        width: 255px;
        border-radius: 20px;
    }
    .stuff__person-pic{
        width: 255px;
        border-radius: 20px;    
    }
    .stuff__person{
        margin-right: 20vw;
        margin-top: 40px;
    }
    .team__stuff{
        margin-top: 40px;
    }
    .stuff__name{
        font-size: 36px;
        line-height: 42.96px;
        margin-top: 10px;
    }
    .stuff__value{
        font-size: 24px;
        line-height: 28.64px;
        margin-top: 5px;
    }   
    .socials__icon{
        margin-right: 15px;
    }
    .socials__copyright{
        font-size: 14px;
        line-height: 16.71px;
        margin-top: 20px;
    }
    .socials__copyright-value{
        padding-top: 0px;
    }
    .info__rating{
        margin-right: 0px;
    }
    .recommend__recommendation__no{
        display: none;
    }
}
